<form action="/coffees" method="POST">
  <label for="name">Name</label><br>
  <input id="name" type=text name="name"><br>
  <label for="origin">Origin</label><br>
  <input id="origin" type=text name="origin"><br>
  <label for="variety">Variety</label><br>
  <input id="variety" type=text name="variety"><br>
  <label for="notes">Notes</label><br>
  <textarea id="notes" name="notes"></textarea><br>
  <label for="intensifier">Intensifier</label><br>
  <input id="intensifier" type=text name="intensifier"><br>
  <input id="submit" type=submit>
</form>
