<form action="/users/<%= @user.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name</label><br>
  <input id="name" type=text name="name" value="<%=@user.name%>"><br>
