<h1>Sign Up</h1>
<form action="/signup" method="POST">
<div>
<label for="name">Name:</label>
<input type="text" name="name" id="name" />
<br>
<label for="username">Username:</label>
<input type="text" name="username" id="username" />
<br>
<label for="password">Password:</label>
<input type="password" name="password" id="password" />
<br>
<input type="submit" value="Create New Account" id="name" />
</div>
</form>
<br>
<a class="button is-info is-outlined back" href="/">Back</a>
