<div class="columns is-centered landing">
  <div class="column is-one-third has-text-centered">
    <i class="fas fa-coffee is-large"></i>
    <br>
    <h1 class="title is-1">Welcome to Coffee Club</h1>
    <p class="subtitle is-4">Track Your Coffee Journey</p>
    <div class="column is-one-third is-offset-one-third">
      <a class="button is-info is-rounded centered" href="/login">Login</a>
    </div>
    <div class="column is-one-third is-offset-one-third">
      <a class="button is-info is-rounded centered" href="/signup">Sign Up</a>
    </div>
  </div>
</div>
