<div><a href="/">Home</a> | <a href="/coffees/new">New Coffee</a>
<% if logged_in?%>
<form action='/sessions' method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Logout">
</form>
<% else %>
| <a href="/login">Log In</a>
<% end %>
</div><br>
<% if @error %>
  <p><%= @error %></p>
<% end %>
<%= yield %>
