<% if logged_in?%>
<div><a href="/coffees">Coffee List</a> |
 <a href="/coffees/new">Add New Coffee</a>
<form action='/sessions' method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Logout">
</form>
<% end %>
</div><br>
<% if @error %>
  <p><%= @error %></p>
<% end %>
<%= yield %>
