<% if logged_in?%>
<div>
<a href="/coffees">Coffee List</a> |
<a href="/users/<%=current_user.id%>">My Coffees</a> |
<a href="/coffees/new">Add New Coffee</a> |
<a href="/users">Member List</a>
<br>
<form action='/sessions' method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Logout">
</form>
<% end %>
</div><br>
<% if flash[:message] %>
  <p style="color: green;"><%= flash[:message] %></p>
<% elsif flash[:error] %>
  <p style="color: red;"><%= flash[:error] %></p>
<% end %>
<%= yield %>
